*,
*::after,
*::before{
    box-sizing: border-box;
}
@font-face {
    font-family: 'SF-pro-display';
    src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'SF-pro-display';
    src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'spaceagecyrillic';
    src: url('../fonts/spaceagecyrillic-regular.woff2') format('woff2'),
         url('../fonts/spaceagecyrillic-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

a{
    color: inherit;
    text-decoration: none;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

body{
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: #fff;
}
.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.btn{
    font-weight: 300;
    font-size: 14px;
    max-width: 250px;
    text-transform: uppercase;
    background-color: #5A0D67;
    padding: 14px 30px 15px;
    color: #fff;
    transition: all .5s;
    
}
.btn:hover{
    background-color: #fff;
    color: #5A0D67;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 1px 5px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 1px 5px 5px rgba(0,0,0,0);
}

/* настройка пагинации слайдера */
.slick-dots{
    
    position: absolute;
    bottom: -50px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 2px;
    margin: 0 20px;
    padding: 0;
    background-color: #C4C4C4;
    cursor: pointer;
    transition: all .5s;
}
.slick-dots li button{
    font-size: 0;
    outline: none;
}
.slick-dots  .slick-active{
    height: 3px;
    background-color: #5A0D67;
}
.header__btn{
    margin-bottom: 70px;
}

.logo{
    max-width: 200px;
}

.section__title{
    color: #21062A;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.section__title::after{
    content: '';
    width: 70px;
    height: 3px;
    background-color: #21062A;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
   
    

}
.header{
    
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 700px;
    background-position: top center;
    width: 100%;
    
    
}


.header__inner{
    display: flex;
    flex-direction: column;
    
    /* position: relative; */
    min-height: 100vh;
}

.header__main-img{
    /* position: absolute;
    right: 0;
    bottom: -200px; */
    max-width: 814px;
    width: 100%;
    margin-top: -160px;
    float: right;
}

.header__info{
    padding-top: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 104px;
}
.header__content{
    max-width: 762px;
}
.header__title{
    text-transform: uppercase;
    font-size: 72px;
    line-height: 107px;
    margin-bottom: 10px;
    font-weight: 300;
}
.header__subtitle{
    font-size: 36px;
    line-height: 53px;
    margin-bottom: 30px;
    display: block;
}
.header__description{
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;  
    display: block;
    margin-bottom: 30px;
}





.header__social-list{
    display: flex;
    align-items: center;
    list-style-type: none;

}
.header__social-item + .header__social-item{
    margin-left: 10px;
    
}


.services{
    padding-bottom: 100px;
    
    color: #2C2B2B;
    
}
.services__inner{
    display: flex;
    justify-content: space-between;
    min-height: 500px;
    margin-bottom: 64px;
}
.services__content{
    max-width: 500px;
    margin-right: 20px;
}
.services__buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
}
.services__buttons-item{
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 450px;
    position: relative;
    cursor: pointer;
    text-align: left;
    
    border: 1px solid #C4C4C4;
    transition: all .5s;
    margin-right: 100px;

}
.services__buttons-number{
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #C4C4C4;
    transform: rotate(270deg);
    margin-right: 40px;
    transition: all .5s;
}
.services__buttons-title{
    font-size: 20px;
    line-height: 28px;
    color: #2C2B2B;
    font-weight: 300;
}
.services__buttons-description{
    font-size: 14px;
}
.services__buttons-item:hover{
    border: 2px solid #5A0D67;
    width: 500px;
    margin-right: 50px;
}

.services__buttons-item:hover .services__buttons-title{
    color: #5A0D67;
}
.services__buttons-item:hover .services__buttons-number{
    color: #5A0D67;
}

.mixitup-control-active{
    border: 2px solid #5A0D67;
    width: 500px;
    margin-right: 50px;
}
.mixitup-control-active .services__buttons-title,
.mixitup-control-active .services__buttons-number
{
    color: #5A0D67;
}

.services__content-title{
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #5A0D67;
    margin-bottom: 12px;
}
.services__content-text{
    margin-bottom: 12px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #2C2B2B;
}
.services__content-item{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* WHY SECTION */

.why {
    padding-bottom: 100px;
}
.why__inner{   
    display: flex;
    justify-content: space-between;
}


.why__content-box {
    background-color: #21062A;
    padding-top: 25px;
    padding-bottom: 45px;
    padding-left: 185px;
    padding-right: 284px;
}
.why__item {
    max-width: 316px;
    margin-bottom: 10px;
}
.why__item-title {
    font-size: 36px;
    line-height: 53px;
}
.why__item-description {
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
}
.why__item-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    color: #C4C4C4;
}



/* section whith slider */



.galery {
    padding-bottom: 100px;
}

.slider__item {
    color: #2C2B2B;
    text-align: center;
    padding: 7px 6px 15px 6px;
    border: 1px solid #C4C4C4;
    margin: 0 7px;
    transition: all .5s;

}
.slider__item:hover{
    background-color: #5A0D67;
    border-color: #5A0D67 ;
    color: #fff;
    cursor: pointer;
}

.slider__item-img {
    max-width: 380px;
    width: 100%;
    margin-bottom: 20px;
}
.slider__item-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
}



.connection {
    padding-top: 25px;
    color:#2C2B2B;
}

.connection__inner {
    display: flex;
    justify-content: space-between;
}
.connection__contacts {
    padding-top: 50px;
    padding-bottom: 57px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.connection__contacts-item {
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    
}
.connection__contacts-item + .connection__contacts-item{
    margin-top: 20px;
}
.connection__contacts-title {
    color: #5A0D67;

    margin-bottom: 10px;
}

.connection__aplication {
    text-align: center;
    background-color: #21062A;
    padding: 50px 75px;
}
.connection__title {
    color: #fff;
    margin-bottom: 16px;
}
.connection__title::after{
    background-color: #fff;
}

.connection__form {
    display: flex;
    flex-direction: column;
    
}
.connection__form-input {
    font-family: 'Oswald';
    padding: 23px 152px;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    color: #C4C4C4;
    border: 1px solid #FFFFFF;
    outline: none;
    background-color:  inherit;
    max-width: 450px;
}

.connection__form-input+.connection__form-input{
    margin-top: 12px;
}
.connection__form-btn{
    margin: 0 auto;
    margin-top: 78px;
}

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #21062A;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

